<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <servlet>
    <servlet-name>Login_Controller</servlet-name>
    <servlet-class>controller.servlet.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Controller</servlet-name>
    <url-pattern>/Login_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout_Controller</servlet-name>
    <servlet-class>controller.servlet.logoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout_Controller</servlet-name>
    <url-pattern>/Logout_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>order_Controller</servlet-name>
    <servlet-class>controller.servlet.orderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order_Controller</servlet-name>
    <url-pattern>/order_Controller</url-pattern>
  </servlet-mapping>
</web-app>